.arrowButon {
  height: 40px;
}

.table {
  height: calc(100vh - 40px - 1.25rem - 2.5rem);
  @apply w-full border-solid border-4 border-black table-fixed;
}

.today {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: red;
  text-align: center;
  line-height: 35px;
  @apply text-white;
}

.btnArea {
  width: 450px;
  @apply flex;
}

.selectBox {
  width: 150px;
  height: 100%;
  @apply border-2 rounded-lg border-slate-900 text-2xl;
}

.nowYearAndMonth {
  width: 300px;
  @apply flex items-center;
}
