.arrowButon {
  height: 40px;
}

.table {
  height: calc(100vh - 64px);
  top: 64px;
  @apply w-full border-solid border-4 border-black table-fixed;
}
.btnArea {
  width: 450px;
  @apply flex;
}

.selectBox {
  width: 150px;
  height: 100%;
  @apply border-2 rounded-lg border-slate-900 text-2xl;
}

.nowYearAndMonth {
  width: 300px;
  @apply flex items-center;
}
