.today {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: red;
  text-align: center;
  line-height: 35px;
  @apply text-white;
}

.cell {
  height: calc((100vh - 64px - 75px) / 7);
  @apply align-text-top cursor-pointer;
}

.cellInner {
  height: calc(((100vh - 64px - 75px) / 7) - 32px);
  @apply overflow-y-scroll p-1;
}
